<!doctype html>
<html lang="en">
    <head>
        <title>Tufts Course Scheduler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tufts Course Scheduler automatically generates the best schedules for given classes to help students at Tufts University sign up for classes easily.">
        <% for (var link of css) { %>
        <%- link %><% } %>
        <style>
            .fc-event {
                color: #fff !important;
            }
            .fc-time > span, .fc-title {
                font-size: 11px;
            }
            textarea {
                font-size: 11px;
            }
        </style>
        <% for (var script of js) { %>
        <%- script %><% } %>
        <script>const data = <%- data %>;//https://stackoverflow.com/a/22910523/9911203</script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row pt-3">
                <div class="col-4" id="left">
                    <h2 id="heading"><%= n_possibilities %> Schedule<%= n_possibilities==1?"":"s" %> Generated</h2>
                    <% if (k < n_possibilities) { %><div>(Showing first <%= k %>)</div><% } %>
                    <% if (n_possibilities !== 0) { %><h5>Sections:</h5><% } %>
                    <table id="section-select"></table>
                </div>
                <div class="col-8">
                    <div id="calendar"></div>
                </div>
            </div>  
        </div>
    </body>
</html>
