<!doctype html>
<html lang="en">
    <head>
        <title>Tufts Course Scheduler</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Tufts Course Scheduler automatically generates the best schedules for given classes to help students at Tufts University sign up for classes easily.">
        <% for (var link of css) { %>
        <%- link %><% } %>
        <style>
            .fc-event {
                color: #fff !important;
            }
            .fc-time > span, .fc-title {
                font-size: 11px;
            }
            textarea {
                font-size: 11px;
            }
            th, td {
                font-size: 12px;
            }
            .btn-primary {
                font-size: 12px;
            }

            #left {
                margin-right: 15px;
                margin-left: 15px;
            }

            @media (min-width: 720px) {
                #left {
                    float: left;
                    overflow: hidden;
                }
            }
            @media (max-width: 719px) {
                .hide-in-small-screen {
                    display: none;
                }
            }
            
            #right {
                overflow: hidden;
                margin: 20px;
            }
        </style>
        <% for (var script of js) { %>
        <%- script %><% } %>
        <script>const data = <%- data %>;//https://stackoverflow.com/a/22910523/9911203</script>
    </head>
    <body>
        <div>
            <div id="left">
                <h3 id="heading"><%= n_possibilities %> Schedule<%= n_possibilities==1?"":"s" %> Generated</h3>
                <% if (k < n_possibilities) { %><div>(Showing first <%= k %>)</div><% } %>
                <% if (n_possibilities !== 0) { %><div class="hide-in-small-screen"><h5>Sections:</h5><table id="sections-table"></table></div><% } %>
            </div>
            <div id="right">
                <div id="calendar"></div>
            </div>
        </div>
    </body>
</html>
